# IAR Workbench files
*.eww
*.ewd
*.ewp
*.dep

# Code Composer Studio files
code/MSP430/Debug
code/MSP430/Release
code/MSP430/settings

# Mac files
.DS_Store

# Documentation
documentation/JPTest
documentation/MSP430
documentation/XbeeAPILib
html
latex
rtf

# Cool-term settings
*.stc

# Sublime project settings (for now)
*.sublime*

# Qt files
bin
*.user*
.qmake*
Makefile*
build
build*
*.a
object_script*
*.o
Contents # Ignore .app/Contents folder
*.app