# IAR Workbench files
*.eww
*.ewd
*.ewp
*.dep

# Code Composer Studio files
code/MSP430/Debug
code/MSP430/Release
code/MSP430/settings

# Mac files
.DS_Store

# Documentation
documentation/doxygen/html
documentation/doxygen/latex

# Cool-term settings
*.stc

# Sublime project settings (for now)
*.sublime*

# Qt files
bin
*.user*
